html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body1{
    width: 35%;
    position: relative;
    left: 30%;
    border: 2px solid black;
    height: 450px;
    padding-left: 30px;
}

.header{
    margin-top: -30px;
    margin-left: -30px;
    width: auto;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.header a {
    position: relative;
    top: -137px;
    left: 190px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.header a:hover {
    color: brown;
}


.image{
    width: 150px;
    height: 190px;
    position: relative;
    top: 20px;
}

.logo{
    color: white;
    font-size: 30px;
    position: relative;
    top: -60px;
    left: -180px;
}

#inpu {
    display: inline;
    font-size: 20px;
    color: black;
    position: relative;
    left: -130px;
    top: -140px;
    color: white;
    border-radius: 50px;
    background-color: black;
    font-weight: bolder;
}
.hoodie2{
    position: relative;
    left: 220px;
    top: -389px;
    margin-top: 10px;
}
button{
    color: white;
    background-color: black;
    border: 2px solid brown;
    border-radius: 50px;
}